@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --today-ring: 2px solid rgba(37, 235, 37, 0.7);
}

.event-scroll::-webkit-scrollbar {
  width: 6px;
}
.event-scroll::-webkit-scrollbar-thumb {
  background: white(100, 116, 139, 0.5);
  border-radius: 9999px;
}
